*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
}

.Container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Routes{
    border: 2px solid rgb(0, 60, 255);
    height: 200px;
}
