.HomePageContainer{
    border: 2px solid red;
    width: 100vw;
    height: 100vh;
    display: flex;
}

nav{
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    width: 15%;
    align-items: center;
}

.Icone{
    font-size: 4rem;
    padding: 10px;
}

.Botoes{
    border: 2px solid red;
    flex: 1;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Botoes button{
    width: 135px;
    align-items: center;
}